body {
	color: #000000;
	font-family: "PT Sans", "Arial", serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
	background-color: #f2f2f2;
	margin: 0;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	line-height: 21px;
	position: relative;
	box-shadow: 10px 10px 10px rgba(226, 226, 226, 0.3);
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 21px;
	font-weight: bold;
}
h4 {
	font-size: 16px;
}
.header-main li {
	font-weight: bold;
	list-style: none;
}
.header-main ul {
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}
.header-main a {
	color: #000000;
	text-decoration: none;
}
.header-page {
	padding-left: 6%;
	padding-right: 6%;
	width: auto;
	background-color: #ffffff;
}
.header-main {
	width: auto;
	padding-bottom: 17px;
	position: relative;
}
.main-info,
.foto-video {
	float: left;
	width: 20%;
	line-height: 26px;
	padding-top: 13px;
}
.foto-video {
	padding-left: 19px;
}
.card,
.hotel {
	float: right;
	width: 20%;
	text-align: right;
	line-height: 26px;
	padding-top: 13px;	
}
.card {
	padding-right: 23px;
}
.main-info a:hover,
.foto-video a:hover,
.card a:hover,
.hotel a:hover {
	color: #81b3d2;
} 
.main-info a:active,
.foto-video a:active,
.card a:active,
.hotel a:active {
	color: #b2b2b2;
}
.header-active a {
	color: #766357;
}
.header-active a:hover {
	color: #604e43;
}
.header-active a:active {
	color: #d6d0cc;
}
.logo {
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	z-index: 10;
}
.info {
	background: #eeeeee url("../img/background-1.jpg") no-repeat center top;
	background-size: cover;
	width: auto;
	height: auto;
	position: relative;
	bottom: 0;
}
.info:after {
	position: absolute;
	height: 57px; /*без обозначения высоты картинка не отображается*/
	width: 100%;
	content: " ";
	background: url("../img/shape.png") no-repeat center; 
	background-size: cover; /*при 768 внизу остаётся прозрачная полоса, но соответствует тому, что на макете по размеру*/
	/*background-size: contain; при 768 картинка обрезается*/
	bottom: 0;
}
.welcome {
	display: block;
	padding-top: 76px;
	width: 458px;
	height: 352px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 80px;
}
.description {
	padding-top: 58px;
	padding-bottom: 38px;
	background-color: #ffffff;
	line-height: 26px;
	text-align: center;
	position: relative;
	z-index: 5;
}
.description h3 {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 28px;
	width: 490px;
	
}
.cause {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}
.cause-description {
	width: 33%;
	background-color: #81b3d2;
	text-align: center;
	color: #ffffff;
	display: inline-block;
	vertical-align: middle;
	
}
.cause-description.right {
	float: right;
}
.cause h3 {
	width: 163px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 54px;
	margin-bottom: 12px;
}
.cause p {
	margin: 10px;
	margin-bottom: 54px;
}
.cause .item {	
	line-height: 42px;
	margin: 10px;
	position: relative;
}
.cause .item:before {
	content: "";
	position: absolute;
	height: 1px;
	width: 10px;
	background-color: #ffffff;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-260%, 0);
	        transform: translate(-260%, 0);
}
.cause .item:after {
	content: "";
	position: absolute;
	height: 1px;
	width: 10px;
	background-color: #ffffff;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(140%, 0);
	        transform: translate(140%, 0);
}
.cause-foto {
	width: 67%;
	float: right;
	max-height: 256px;
	position: relative;
	z-index: 3;
}
.cause-foto-1  {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 2;
	min-height: 256px;
}
.cause-foto.left {
	float: left;
}
.cause-foto-2 {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 2;
	min-height: 256px;
}
.features-item {
	width: 33%;
	float: left;
	text-align: center;
	padding-top: 140px;
	margin-bottom: 71px;
	position: relative;
}
.features-item:before {
	content: "";
	display: block;
	width: 75px;
	height: 72px;
	background: url("../img/feature1.png") no-repeat;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -80px);
	        transform: translate(-50%, -80px);
}
.features-item:nth-child(2):before {
	width: 74px;
	height: 70px;
	background: url("../img/feature2.png") no-repeat;
	-webkit-transform: translate(-50%, -77px);
	        transform: translate(-50%, -77px);
}
.features-item:nth-child(3):before {
	width: 64px;
	height: 76px;
	background: url("../img/feature3.png") no-repeat;
	-webkit-transform: translate(-50%, -83px);
	        transform: translate(-50%, -83px);
}
.features-item  p {
	padding-left: 18%;
	padding-right: 17%;
}
.features {
	clear: both;
	background-color: #ffffff;
	position: relative;
	z-index: 5;
}
.causes {
	background-color: #eeeeee;
	clear: both;
	position: relative;
	z-index: 5;
}
.causes-item h3 {
	width: 135px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 24px;
}
.causes-item {
	padding-top: 46px;
	padding-bottom: 48px;
	width: 33%;
	float: left;
	text-align: center;	
}
.causes-item  p {
	padding-left: 2%;
	padding-right: 2%;
	margin: 20px;
	position: relative;
}
.causes-item  .item:before {
	content: "";
	height: 1px;
	width: 10px;
	background-color: #000000;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-260%, 0);
	        transform: translate(-260%, 0);
	position: absolute;
}
.causes-item  .item:after {
	content: "";
	height: 1px;
	width: 10px;
	background-color: #000000;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(140%, 0);
	        transform: translate(140%, 0);
	position: absolute;
}
.search {
	position: relative;
}
.search-description {
	text-align: center;
	padding-top: 33px;
	padding-bottom: 119px;
	background: #ffffff url("../img/map-1.jpg") no-repeat center 291px;
	width: auto;
	height: 732px;
}
.search-description p {
	padding-top: 7px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	line-height: 24px;
}

.map {
	width: 100%;
	frameborder: 0;
	border: 0;
}

.search-form {
	width: 568px;
	background-color: #ffffff;
	display: block;
	-webkit-animation: appearance 1s linear;
	        animation: appearance 1s linear;
}
.search-form-close {
	display: none;
}
@-webkit-keyframes appearance {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.5;
	}
	70% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
		
	}
}
@keyframes appearance {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.5;
	}
	70% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
		
	}
}
.search-title {
	width: 569px;
	padding-top: 29px;
	padding-bottom: 30px;
	background-color: #766357;
	color: #ffffff;
	text-align: center;
	border: none;
	font-family: inherit; 
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	margin-top: 33px;
	text-transform: uppercase;
	position: relative;
	z-index: 5;
}
.search-input {
	position: absolute;
	top: 290px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	padding: 55px;
	background-color: #ffffff;
	width: 500px;
	padding-right: 15px;
	box-shadow: 10px 10px 10px rgba(226, 226, 226, 0.3), 
				-10px 0px 10px rgba(226, 226, 226, 0.3);
}
.search-form  label{
	display: inline-block;
	width: 107px;
	font-weight: bold;
	line-height: 26px;
	vertical-align: middle;
}
.search-form input[type="text"] {
	font-family: inherit;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f2f2f2;
	height: 36px;
	border: 0;
	margin-bottom: 29px;
	line-height: 26px;
}


.ddate {
	width: 298px;
	padding-left: 13px;
}
.search-form input.ddate {
	padding-right: 35px;
	background-image: url("../img/spritesheet.png");
    background-position: 103% -70px;
	background-repeat: no-repeat;
}
.search-form input.ddate:hover {
	background-color: #ebebeb;
	background-image: url("../img/spritesheet.png");
    background-position: 103% -194px;
	background-repeat: no-repeat;
}
.search-form input.ddate:active {
	background-color: #ffffff;
	background-image: url("../img/spritesheet.png");
    background-position: 103% -132px;
	background-repeat: no-repeat;
}
.adults-quantity {
	width: 37px;
	text-align: center;
	height: 25px;
}
.number {
	display: inline-block;
	vertical-align: middle;
	width: 112px;
	background-color: #f2f2f2;
	height: 38px;
}
.child {
	margin-left: -43px;
}
.children  {
	padding-left: 50px;
}
.children-quantity {
	width: 37px;
	text-align: center;	
	height: 25px;
}
.quantity {
	width: 32px;
	height: 26px;
	border: none;
	position: relative;
	background-color: #f2f2f2;
}
.minus:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 2px;
	background-color: #a9a9a9;
	top: 6px;
	left: 15px;
}
.minus:hover:before {
	background-color: #000000;
}
.minus:active:before {
	background-color: #81b3d2;
}
.plus:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 2px;
	background-color: #a9a9a9;
	top: 6px;
	left: 11px;
}
.plus:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 2px;
	background-color: #a9a9a9;
	top: 6px;
	left: 11px;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.plus:hover:before,
.plus:hover:after  {
	background-color: #000000;
}
.plus:active:before,
.plus:active:after {
	background-color: #81b3d2;
}
.btn {
	font-size: 21px;
	font-family: "PT Sans", "Arial", serif;
	font-weight: bold;
	line-height: 26px;
	margin-top: 57px;
	width: 458px;
	height: 58px;
	vertical-align: middle;
	text-align: center;
	background-color: #81b3d2;
	color: #ffffff;
	border: 0;
	text-transform: uppercase;
}
.btn:hover {
	background-color: #669ec0;
	color: #f5f9fb;
}
.btn:active {
	background-color: #5496bd;
	color: #88b6d1;
}
.footer-page {
	background-color: rgba(255, 255, 255, 0.8);
	padding-top: 48px;
	padding-bottom: 23px;
	position: absolute;
	width: 100%;
	max-width: 1200px;
	bottom: 0;
}
.inner-page .footer-page {
	position: relative;
	background-color: #ffffff;
}
.footer-visit,
.footer-social {
	width: 33%;
	float: left;
	text-align: center;
	position: relative;
}
.footer-copyright {
	width: 33%;
	float: right;
	position: relative;
}

.footer-visit span{
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}
.copyright {
	display: block;
	width: 195px;
	margin-left: auto;
	margin-right: auto;
}
.footer-copyright span {
	display: inline;
	font-size: 14px;
	line-height: 26px;
	-webkit-transform: translate(0, -25%);
	        transform: translate(0, -25%);
}

.footer-copyright a {
	position: absolute;
	padding-left: 5px;
	width: 113px;
	height: 39px;
	font-size: 0;
	background: transparent url("../img/html.png") no-repeat center center;
}
.footer-copyright a:hover {
	background: transparent url("../img/html-hvr.png") no-repeat center center;
}
.footer-copyright a:active {
	background: transparent url("../img/html-down.png") no-repeat center center;
}
.social {
	display: inline-block;
	width: 46px;
	height: 48px;
	margin-left: 2px;
	font-size: 0;
	vertical-align: top;
	-webkit-transform: translate(0, -25%);
	        transform: translate(0, -25%);
	text-decoration: none;
	background: #81b3d2 url("../img/spritesheet.png") no-repeat center;
}
.twitter {
    background-position: -5px -430px;
}
.facebook {
	background-position: -2px -373px;
}
.youtube {
	background-position: -7px -485px;
}
.footer-social a:hover {
	background-color: #669ec0;
}
.footer-social a:active {
	opacity: 0.5;
}
.criterion {
	background: #eeeeee url("../img/background-2.jpg") no-repeat center top;
	width: auto;
	height: 189px;
	background-size: cover;
	font-size: 16px;
	line-height: 21px;
	padding-top: 28px;
}
.infrastructure {
	padding-left: 6%;
	color: #ffffff;
	float: left;
	width: 26%;
}
.criterion h4 {
	margin: 0;
}
.criterion input[type="checkbox"] {
	display: none;
}
.criterion input[type="checkbox"] + label {
	display: block;
	padding-left: 40px;
	line-height: 21px;
	position: relative;
	padding-top: 24px;
	font-size: 14px;
}
.criterion input[type="checkbox"] + label::before {
	position: absolute;
	content: "";
	display: block;
	width: 26px;
	height: 22px;
	background: url("../img/spritesheet.png") no-repeat center center;
	background-position: -20px -263px;
	top: 24px;
	left: 0;
}
.criterion input[type="checkbox"]:checked + label::before {
	background-position: -20px -325px;
}
.criterion input[type="checkbox"]:checked:disabled + label::before {
	background-position: -20px -325px;
	opacity: 0.5;
}
.criterion input[type="checkbox"]:disabled + label::before {
	background-position: -20px -263px;
	opacity: 0.5;
}
.type {
	float: left;
	color: #ffffff;
	width: 32%;
}
.filter-range {
	float: right;
	padding-right: 6%;
	color: #ffffff;
	text-transform: uppercase;
	width: 30%;
}

.filter-range-title {
	margin-bottom: 9px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative; 
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 32%;
	padding-left: 15%;
}

.price-controls input {
	width: 56%;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}
.sample-criterion {
	padding-left: 6%;
	padding-top: 29px;
	background-color: #ffffff;
	padding-bottom: 31px;
	position: relative;
}
.sample-criterion h3 {
	margin: 0;
	line-height: 26px;
	font-size: 21px;
	display: inline;
}
.sample-criterion span {
	line-height: 18px;
	font-size: 12px;
	padding-left: 44px;
	padding-right: 36px;
}
.sample-criterion  .sort {
	font-family: inherit;
	text-decoration: none;
	line-height: 18px;
	font-size: 12px;
	margin-right: 19px;
	color: #c7c7c7;
	border: none;
	background-color: #ffffff;
	text-transform: uppercase;
}
.sort span {
	padding: 0;
	border-bottom: 1px dotted #81b3d2;
}
.sample-criterion  .sort:hover:not(.active) {
	color: #81b3d2;
}
.sample-criterion .sort:active:not(.active) {
	color: #000000;
}
.sample-criterion .active {
	color: #81b3d2;
	border-bottom: none;
}
.sort-up {
	border: 11px solid #cccccc;
	height: 22px;
	width: 11px;
	padding: 0;
	border-top-width: 0;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-width: 11px;
	border-left-width: 5px;
	border-right-width: 5px;
	position: absolute;
	right: 8%;
	top: 31px;
	text-decoration: none;
	font-size: 0;
	background-color: #ffffff;
}
.sort-down {
	border: 11px solid #81b3d2;
	height: 22px;
	width: 11px;
	padding: 0;
	border-bottom-width: 0;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-width: 11px;
	border-left-width: 5px;
	border-right-width: 5px;
	position: absolute;
	right: 6%;
	top: 41px;
	text-decoration: none;
	font-size: 0;
	background-color: #ffffff;
}
.sort-up:hover {
	border-bottom-color: #000000;
}
.sort-up:active {
	border-bottom-color: #81b3d2;
}
.sort-down:hover {
	border-top-color: #000000;
}
.sort-down:active {
	border-top-color: #81b3d2;
}
.catalog-item {
	padding-left: 6%;
	padding-top: 31px;
	padding-bottom: 31px;
	border: 1px solid #e5e5e5;
	margin-bottom: -3px;
	background-color: #fefefe;
	border-left: none;
	border-right: none;
	position: relative;
}
.catalog-item:last-child {
	margin-bottom: 0;
}
.catalog-img {
	width: 135px;
	height: 90px;
	float: left;
}
.catalog-description {
	margin-left: 30px;
	float: left;
	width: 331px;
}
.catalog-description a {
	margin: 0px;
	margin-bottom: 15px;
	float: left;
	width: 331px;
	line-height: 11px;
	font-size: 21px;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
.catalog-description a:hover {
	color: #81b3d2;
}
.catalog-description a:active {
	color: #b2b2b2;
}
.catalog-type {
	font-weight: normal;
	display: inline-block;
	margin-right: 2px;
	width: 104px;
	vertical-align: middle;
}
.catalog-price {
	margin-left: 5px;
	font-weight: normal;
	display: inline-block;
	width: 110px;
	vertical-align: middle;	
}
.catalog-btn-more  {
	display: inline-block;
	width: 110px;
	height: 27px;
	background-color: #81b3d2;
	margin-top: 15px;
	border: 0;
	color: #ffffff;
	font-weight: bold;
	margin-right: 2px;
	vertical-align: bottom;
	text-transform: uppercase;
}
.catalog-btn-more:hover {
	background-color: #669ec0;
}
.catalog-btn-more:active {
	background-color: #5496bd;
	color: #7aadcb;
}
.catalog-btn-armor {
	display: inline-block;
	width: 142px;
	height: 27px;
	background-color: #766357;
	margin-top: 10px;
	border: 0;
	color: #ffffff;
	font-weight: bold;
	vertical-align: bottom;
	text-transform: uppercase;
}
.catalog-btn-armor:hover {
	background-color: #604e43;
}
.catalog-btn-armor:active {
	background-color: #503e33;
	color: #857871;
}
.catalog-item .star {
	float: right;
	padding-right: 6%;
	text-align: right;
}
.star ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}
.star li {
	display: inline-block;
	text-align: right;
	width: 18px;
	height: 17px;
	background: url("../img/spritesheet.png") no-repeat center center;
	background-position: -20px -20px;
}
.rating {
	float: right;
	width: 110px;
	height: 24px;
	color: #8b8b8b;
	background-color: #f2f2f2;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	font-weight: normal;
	padding-top: 3px;
	margin-top: 40px;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
